doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js')
    script(src='/javascripts/jquery.ui.touch-punch.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.page-wrap
      div.container
        div#sidebar.col-md-2.fill(style="background-color: #333; color: white")
          h1(style='text-align:center')= (siteTitle) ? siteTitle : "HARRY CHOU" 
          div(style="margin-top:30px;margin-bottom:50px;text-align:center;") 
            a(href="/")
              - var imgSrc = (siteTitle) ? "church" : "harry"
              img(src="/images/#{imgSrc}.png")
          ul.nav
            li 
              a(href='http://about.me/harrychou' target='new') About
            li
              a(href='http://harrychou.wordpress.com/' target='new') Blog
            li
              a(href='/verses') Bible Verses
        div#right.col-md-10.fill(style="background-color: white")
          block content
        div.footer-container
          div -- website designed and maintained by Harry Chou @2015 --