html,body {
    width: 100%;
    height: 100%;
    background-image: url('/images/symphony.png');
}
.container {
    min-height:100%;
    width: auto;
    margin-left: 60px;
    margin-right: 50px;
    overflow: hidden;
    border-left: 4px dashed rgba(132, 121, 123, .6);
    border-right: 4px dashed rgba(132, 121, 123, .6);
}
.fill {
    margin-bottom: -9960px;
    padding-bottom: 9999px;
    height: 100%;
    min-height: 100%;
}
.page-wrap {
    height: 100%;
}
.left-item {
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.footer-container {
    width: 100%; 
    position: fixed; 
    bottom: 10px;
    text-align: center;
}

div.footer-container>div {
    margin-left: auto; 
    margin-right: auto; 
    width: 60%; 
    padding: 10px;
    background-color: #ccc;
}

@media (max-width: 1000px) {
  h1,h2 {
      margin: 0;
      text-align: center;
  }
  .fill {
      margin-bottom: 0;
      padding-bottom: 20px;
  }
  .footer-container {
      margin: 0;
      bottom: 0;
      position: relative;
  }
  div.footer-container>div {
      width: 100%; 
  }  
}

table.table tr>th {
  background-color: orange;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  font-size: 1.5em;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

#sidebar li a {
  color: #aaa;
}

div.main {
  padding: 20px 25px;
}
